/build/dist
/build/node_modules
/public/vendor
/config/*.local.php
/test/*.cache
/test/clover.xml
/test/coverage
/test/node_modules
/vendor
.*
docker-compose.override.yml
!.gitignore
!.*.dist
!.htaccess
